* {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(130deg, rgb(95, 244, 140), rgb(34, 156, 244));
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 550px;
  background: white;
  border-radius: 20px;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
}

.todo-app h2 {
  display: flex;
  color: black;
  align-items: center;
  margin-bottom: 20px;
  font-size: 28px;
}

.todo-app h2 img {
  width: 40px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-left: 20px;
  border-radius: 30px;
  background: rgb(223, 221, 221);
}

input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  background: transparent;
  font-size: 20px;
  color: rgb(53, 52, 52);
}

button {
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 35px;
  color: white;
  background: blueviolet;
  padding: 15px 50px;
}

button:hover {
  background: rgb(101, 17, 211);
}
